<form action="/project/create" method="post">
  <input
    type="text"
    name="projectname"
    placeholder="enter name of your projects"
  />
  <input
    type="text"
    name="description"
    placeholder="enter description of your of your projects"
  />
  <input type="text" name="author" placeholder="project author" />
  <input type="submit" value="enter project Details" />
</form>
