<div>
  <h1 class="divTextCent">Project details</h1>
</div>
<div>
  <button onclick="handleleftAsidesec()" class="leftAsideSec">x</button>
</div>
<section id="left">
  <div></div>
</section>
<section id="right">
  <div class="projectDet">
    <table style="width: 100%" border="0" cellspacing="10" cellpadding="10">
      <tr>
        <th>Project Name</th>
        <th>Author</th>
        <th>project description</th>
      </tr>
      <% for(i of project ) {%>
      <tr class="projectDatalist">
        <td><%=i.projectname %></td>
        <td><%=i.author %></td>
        <td>
          <div class="descAndedit">
            <%=i.description %>
            <span
              ><a href="/project/issue/?projectid=<%=i.id%>"
                >Show Issue</a
              ></span
            >
          </div>
        </td>
      </tr>
      <%}%>
    </table>
  </div>
</section>
