<div class="formContainer reportForm">
  <h1>issue page</h1>
  <form action="/isseu" method="post" id="reportissueform">
    <input
      type="text"
      name="title"
      placeholder="issue title"
      class="form-fields"
    />
    <input
      type="description"
      name="desc"
      placeholder="issue description"
      class="form-fields"
    />
    <input
      type="description"
      name="author"
      placeholder="Author Name"
      class="form-fields"
    />
    <input
      type="hidden"
      name="projectRef"
      value="<%= projectid %>"
      class="form-fields"
    />
    <select
      name="lable"
      id="selectBox"
      onchange="selectlabel()"
      class="form-fields"
      required
    >
      <option value="" disabled selected>Select issue lable</option>
      <option>Personal</option>
      <option>Work</option>
      <option>Claeaning</option>
      <option>Otheres</option>
    </select>
    <div id="valueSelected"></div>
    <input type="submit" value="submit" />
  </form>
</div>
