<html>
  <head>
    <title><head> <!-- TODO: need to add Dynamic title --> </head></title>
  </head>
  <body>
    <%- include('_header') -%> <%-body -%> <%- include('_footer') -%>
    <!-- script file comming from others pages -->
    <!-- <- script > -->
  </body>
</html>
