body {
  background-color: white; }
  body td {
    border-bottom: 1px solid black; }
  body .projectDatalist {
    text-align: center; }
  body .descAndedit {
    display: flex;
    justify-content: space-between; }
  body .divTextCent {
    text-align: center; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

#createProject {
  text-decoration: none;
  border: 1px solid black;
  background: cornflowerblue;
  color: white; }

.formContainer {
  text-align: center;
  position: relative;
  top: 7%;
  left: 27%;
  width: 40%; }
  .formContainer .form-fields {
    width: 100%;
    margin-top: 15px;
    height: 35px; }

#left {
  width: 20%;
  display: inline-block;
  height: 400px;
  background-color: aqua; }
  #left .leftAsideSec {
    border: 1px solid red;
    width: 100%; }

#right {
  width: 70%;
  display: inline-block;
  vertical-align: top; }

#projectDetSection {
  position: relative;
  top: 10%;
  left: 27%;
  width: 40%; }
  #projectDetSection .descBox {
    border: 1px solid red;
    width: 100%;
    text-align: center; }
  #projectDetSection .reportissuecl {
    text-decoration: none;
    color: white;
    height: 30px;
    width: 40px;
    background-color: red; }
