.heading {
  display: flex;
  align-items: baseline;
  justify-content: space-around; }

body {
  background-color: white; }
  body td {
    border-bottom: 1px solid black; }
  body .projectDatalist {
    text-align: center; }
  body .descAndedit {
    display: flex;
    justify-content: space-between; }
  body .divTextCent {
    text-align: center; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

#createProject {
  text-decoration: none;
  border: 1px solid black;
  background: cornflowerblue;
  color: white;
  border-radius: 6px; }

.formContainer {
  text-align: center;
  position: relative;
  top: 7%;
  left: 27%;
  width: 40%; }
  .formContainer .form-fields {
    width: 100%;
    margin-top: 15px;
    height: 35px; }

#left {
  width: 20%;
  display: inline-block;
  height: 400px;
  background-color: aqua; }
  #left .leftAsideSec {
    border: 1px solid red;
    width: 100%; }

#right {
  width: 70%;
  display: inline-block;
  vertical-align: top; }

#projectDetSection {
  display: inline-block;
  vertical-align: top;
  width: 50%; }
  #projectDetSection .descBox {
    border: 1px solid red;
    width: 100%;
    text-align: center;
    margin-bottom: -13px;
    height: 25px;
    border: 1px solid red;
    text-align: center; }

.issusList {
  display: flex;
  justify-content: space-between; }

.dispIssue {
  height: 25px;
  border-bottom: 1px solid red;
  text-align: center; }

.issuebox {
  margin-top: 35px; }

.issuetitelsArea {
  display: flex; }

.totalBugs {
  border: 1px solid red;
  border-radius: 10px;
  background-color: red;
  text-align: center;
  color: white; }

#reportButton {
  background-color: skyblue;
  border: 1px solid red;
  border-radius: 10px;
  width: 117px;
  text-align: center;
  position: relative;
  left: 90%; }

.filters {
  /* position: relative; */
  width: 40%;
  display: inline-block; }

.ProjectDetAndDesription {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid green; }

.sear {
  text-align: center; }

.centerthisissue {
  text-align: center; }

.borderbottom {
  border-bottom: 1px solid green; }
